body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

p {
    margin: 0.5rem 0;
}

button {
    margin: 1rem;
}

.yatzy-container,
.dice-container,
.unsaved-dice,
.saved-dice {
    display: flex;
    flex-direction: row;
}

.unsaved-container {
    width: 150px;
    margin-right: 5rem;
}

.saved-dice {
    width: 150px;
    margin-right: 10rem;
}

.score-container {
    width: 200px;
}

.yatzy-header {
    margin-bottom: 0.5rem;
}
