body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

p {
    margin: 0.5rem 0;
}

button {
    margin: 1rem;
}

.yatzy-container,
.dice-container,
.unsaved-dice,
.saved-dice {
    display: flex;
    flex-direction: row;
}

.unsaved-container {
    width: 170px;
    margin-right: 5rem;
}

.saved-dice {
    width: 150px;
    margin-right: 10rem;
}

.score-container {
    width: 200px;
}

.yatzy-header {
    margin-bottom: 0.5rem;
}

/**
 * Style a dice using UTF-8 characters.
 */
.dice-utf8 .dice-1::after {
    content: "\2680";
}
.dice-utf8 .dice-2::after {
    content: "\2681";
}
.dice-utf8 .dice-3::after {
    content: "\2682";
}
.dice-utf8 .dice-4::after {
    content: "\2683";
}
.dice-utf8 .dice-5::after {
    content: "\2684";
}
.dice-utf8 .dice-6::after {
    content: "\2685";
}

.dice-utf8 i {
    font-size: 40px;
    font-style: normal;
}
